body{
  overflow:hidden
}

.left-column{
  display: flex;
  flex-direction: column
}
.title-box{
  margin-bottom: 5px
}
.box-container{
  border:1px solid #209cee;
  border-radius: 5px;
  margin-bottom: 1vh;
  overflow: hidden;
}
.box-search{
  padding:1vh;
  min-height: 20vh
}
.box-chart{
  padding:1vh;
}
.box-tweet{
  padding:1vh;
  height: 78.5vh;
  overflow: scroll
}

hr{
  height:1px;
  border:0;
  margin:10px auto
}

.flex-row{
  display:flex;
  flex-direction: row;
  justify-content: center;
  
}
button{
  margin:0px 10px
}


img{
  border-radius: 50%;
  max-width:30px;
  max-height:30px;
}

li{
	margin:10px 0px;
}
.text-card{
margin-left:3px;
text-overflow: ellipsis;
white-space: nowrap;
overflow: hidden;
width: 200px;
}
.tweet-card{
  font-size: 0.8rem;
  display:flex;
  justify-content: space-between;
	align-items: center;
	height:40px;

}
.slideDown{
	animation-name: slideDown;
	-webkit-animation-name: slideDown;	

	animation-duration: 1s;	
	-webkit-animation-duration: 1s;

	animation-timing-function: ease;	
	-webkit-animation-timing-function: ease;	

	visibility: visible !important;						
}

@keyframes slideDown {
	0% {
		transform: translateY(-100%);
	}
	50%{
		transform: translateY(8%);
	}
	65%{
		transform: translateY(-4%);
	}
	80%{
		transform: translateY(4%);
	}
	95%{
		transform: translateY(-2%);
	}			
	100% {
		transform: translateY(0%);
	}		
}

@-webkit-keyframes slideDown {
	0% {
		-webkit-transform: translateY(-100%);
	}
	50%{
		-webkit-transform: translateY(8%);
	}
	65%{
		-webkit-transform: translateY(-4%);
	}
	80%{
		-webkit-transform: translateY(4%);
	}
	95%{
		-webkit-transform: translateY(-2%);
	}			
	100% {
		-webkit-transform: translateY(0%);
	}	
}
